h1 {
    color: white;
    font-weight: bold;
    font-size: 3rem;
}

.sec-div:hover .sec-clothes {
    display: flex;
}

.sec-div:hover .sec-clothes-clicked {
    display: flex;
}

.sec-div:hover button {
    background: rgba(255, 255, 255, 0.10);
    border-radius: 5px;
    margin: 5px;
    padding: 1rem;
    font-size: 1.3rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.54);
    color: white;
    display: block;
    opacity: 1;
}

.sec-clothes-text button {
    display: none;
    opacity: 0;
}

.sec-clothes-text {
    display: none;
    flex-direction: column;
    align-items: center;
}

.sec-clothes {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.sec-clothes-clicked {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sec-clothes-clicked img {
    width: 150px;
}

.sec-clothes-img {
    border-radius: 50%;
    width: 250px;
    aspect-ratio: 1/1;
    scale: 0.7;
    cursor: pointer;
    transition: all 800ms ease-in;
}

.sec-clothes-img:hover {
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.54);
    transition: all 400ms ease-out;
}

.popup{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    bottom: 5%;
    height: 100%;
    width: 100%;
}

.popup-image{
    position: relative;
    z-index: 5;
}

.popup-backgroud{
    z-index: 1;
    border-radius: 50%;
    width: 50%;
    height: 150%;
    position: absolute;
    background-color: black;
}

.popup button{
    background: rgba(255, 115, 0, 0.993);
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 1.3rem;
    margin: 1rem;
    cursor: pointer;
    color: white;
    border: none;
}

.popup-button-left{
    position: absolute;
    right: 75%;
    margin: auto;
    z-index: 10;
}

.popup-button-right{
    position: absolute;
    left: 75%;
    margin: auto;
    z-index: 10;
}

.popup-button-close{
    z-index: 10;
    position: absolute;
    left: 15%;
    bottom: 100%;
    margin: auto;
    background: rgba(190, 39, 39, 0.993) !important;
}

@media screen and (max-width: 800px) {
    .sec-clothes-clicked img {
        width: 100px;
    }
    .sec-clothes-text button{
        padding: 2%;
        font-size: 0.7em !important;
    }
    .sec-clothes{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .sec-clothes-img{
        width: 30vw;
    }
    .popup-backgroud{
        display: none;
    }
    .popup-button-left{
        right: 95%;
    }
    .popup-button-right{
        left: 95%;
    }
}

@media screen and (max-width: 601px) {
    .sec-clothes-text button{
        padding: 0;
        font-size: 0.5em !important;
    }
    .sec-clothes-text h1 {
        font-size: 1.7rem;
    }

    .sec-clothes-text p {
        font-size: 0.5rem;
    }
    .popup-backgroud{
        display: none;
    }
}