




@media screen and (max-width: 800px) {
    .sec-clothes-clicked img {
        width: 100px;
    }
    .sec-clothes-text button{
        padding: 2%;
        font-size: 0.7em !important;
    }
    .sec-clothes{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .sec-clothes-img{
        width: 30vw;
    }
    .popup-backgroud{
        display: none;
    }
    .popup-button-left{
        right: 95%;
    }
    .popup-button-right{
        left: 95%;
    }
}

@media screen and (max-width: 601px) {
    .sec-clothes-text button{
        padding: 0;
        font-size: 0.5em !important;
    }
    .sec-clothes-text h1 {
        font-size: 1.7rem;
    }

    .sec-clothes-text p {
        font-size: 0.5rem;
    }
    .popup-backgroud{
        display: none;
    }
}