.nav-sum{
    z-index: 202;
    display: flex;
    position: fixed;
}

.nav-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1em;
    width: 5vw;
    height: 20vh;
    transition: all 400ms ease-out;
}

.a-nav{
    text-decoration: none;
    font-weight: bold;
    font-size: 8pt;
    color: white;
}

.a-nav.view{
    background: linear-gradient(270deg, #ff0a6c, #2d27ff);
    background-size: 400% 400%;
    -webkit-animation: color 6s ease infinite;
    -moz-animation: color 6s ease infinite;
    animation: color 6s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@-webkit-keyframes color {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes color {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes color {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.a-nav.view::before{
    content: "⬤";
}